<section class="paddles">
  <img src="/images/{{paddle.filename}}" alt="{{paddle.description}}">
  <div class="paddle-details">
    <h3>{{paddle.title}}</h3>
    <p>By: {{paddle.maker}}</p>
  </div>
  <!-- BEGIN: comment-section -->
  <div class="comment-section">
    <h4>Comments</h4>
    {{#each comments}}
      <div class="comment">
        <p>{{this}}</p>
      </div>
    {{/each}}
  </div>
  <!-- END: comment-section -->
  
</section>